
/*#############################################################################################

/* body portion of CSS style controling background color */
body {
    background-color: lightgray; 
 }

 /* controls the looks of the h1 tag across all of the pages */
 h1 { 
  font-family: 'Libre Baskerville', serif;
  margin: 0px auto 40px;
  widows: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 70px;
  color:  whitesmoke;
  /* font-variant:small-caps; */
   
}

/* controls the jumbotron picutre across all webpages */
.jumbotron-jumbotron-fluid {
  background-image: url(asset/images/flowers.jpeg);
}

.display-4 {
  text-align: left;
}

 /*##############################################################################################
 starting to control only the look of the "about" page */

 /* controls the border color and size of my picutre of me on the about page */
 .pictureOfMe {
  border: 15px solid rgb(54, 2, 52);
  max-width: 100%;
  height:auto;
 }

  .paragraph {
   color:rgb(54, 2, 52);
   font-size: 27px;
   padding-top: 30px; 
   padding-left: 50px;
  };


   /* #########################################################################################
   starting into the section that controls the "contacts" page */ 

 /* controls the looks of the h2 tag contact info on contacts page */
 .contact-info {
  font-family: 'Libre Baskerville', serif;
  font-size: 45px;
  color: rgb(54, 2, 52); 
  padding-top:20px;
  padding-left:100px;
 }

   /* controls the style of my contact informaiton and the color */
  .contactColor span {
    color: #501B1D;
    font-size: 20px;  
    font-family: 'Heebo', sans-serif;
  }
  
 /* controls the locationo of the bullet point informaiton */
 .contact {
  padding-left: 180px;  
  padding-top:20px;
 } 

 /*##########################################################################################
 starting into the section that controls my "portfolio" page */

/* controls the h2 tag on the portfolio page */
 /* .h2-portfolio  {
  font-family: 'Libre Baskerville', serif;
  font-size: 45px;
  color: rgb(54, 2, 52); 
  padding-top:20px;
  padding-left:90px;
 } */
 /* controls the margins on the portfolio page */
 .card {
  margin-top:100px
   }
  
  .card-img-top {
  width: 350px;
  height:350px;
  border: 15px solid rgb(54, 2, 52);
  }

 /* controling the color of the email, github, and portfolio words */
 .contactColor {
  font-family: 'Heebo', sans-serif;
  color:#501B1D;
  font-size:22px;
 }

 
 /*##########################################################################################
 starting into the section that controls my "binx" page */

 /* controls the look of h2 "about binx" on Binx the Cat page */
 .binx-name {
  font-family: 'Libre Baskerville', serif;
  font-size: 45px;
  color: rgb(54, 2, 52); 
  padding-top:20px;
 }

/* controls the size and bordering around my picture*/
.picture-binx {
  width: 270px;
  height: auto;
  border: 15px solid rgb(54, 2, 52);
}

.picture-binx2 {
  border: 15px solid rgb(54, 2, 52);
  width: 300px;
  height:auto;
}

.picture-binx1 {
  border: 15px solid rgb(54, 2, 52);
  width: 350px;
  height:auto;
}

.first-h3 {
  padding-top:30px;
  text-align: left;
  color: rgb(54, 2, 52)
  }

.second-h3 {
  padding-top: 100px;
  color: rgb(54, 2, 52)
}

#first-paragraph.binx {
  color:rgb(54, 2, 52);
  font-size: 25px;
  padding-top:20px;
  padding-right: 40px;
}

.img-fluid {
  max-width:100%;
  height:auto;
}