
/* This is the CSS style sheet for my html files */

/*#############################################################################################
this is for common styling across the entire browser */

/* body portion of CSS style controling background color */
body {
    background-color: lightgray; 
 }

/* controls the star coloring and placement in the header within the h1 tag */
 h1 span {
   color:#501B1D;
   padding-right:30px;
   padding-left:30px; 
 }

 /* controls the looks of the h1 tag across all of the pages */
 h1 { 
  font-family: 'Libre Baskerville', serif;
  font-size: 70px;
  color:  whitesmoke;
  font-variant:small-caps;
  margin: 0px auto 40px;
  widows: 100%;
  padding-top: 30px;
  padding-bottom: 30px;   
}

/* controls the jumbotron picutre across all webpages */
.jumbotron-jumbotron-fluid {
  background-image: url(flowers.jpeg);
}

 /*##############################################################################################
 starting to control only the look of the "about" page */

 /* controls the looks of the first h2 tag my name on the about me page */
 .myName {
  font-family: 'Libre Baskerville', serif;
  font-size: 45px;
  color: rgb(54, 2, 52); 
  padding-top:20px;
 }

 /* controls the border color and size of my picutre of me on the about page */
 .img-fluid.pictureOfMe {
  border: 15px solid rgb(54, 2, 52);
  width: 200px;
  /* max-width: 100%; */
  height:auto;
 }

  /* controls the color of the first-paragraph on about page*/
  #first-paragraph.highlight {
    color:rgb(54, 2, 52);
    font-size: 25px;
    padding-top:120px;
    padding-left: 20px;
  }
  
  /* controls the color of the second-paragraph on about page */
   #second-paragraph.highlight {
    color:rgb(54, 2, 52);
    font-size: 25px;
    padding-left:20px;
   }


   /* #########################################################################################
   starting into the section that controls the "contacts" page */ 

 /* controls the looks of the h2 tag contact info on contacts page */
 h2.contact-info {
  font-family: 'Libre Baskerville', serif;
  font-size: 45px;
  color: rgb(54, 2, 52); 
  padding-top:20px;
  padding-left:100px;
 }

   /* controls the style of my contact informaiton and the color */
   .contactColor span {
    color: #501B1D;
    font-size: 20px;  
    font-family: 'Heebo', sans-serif;
    /* padding-left:100px; */
  }
  

 /* controls the placement of the "contact-info" h2 tag */
 .contact-info {
  padding-left: 100px;  
 }

 /* controls the locationo of the bullet point informaiton */
 .contact {
  padding-left: 180px;  
 } 

 /*##########################################################################################
 starting into the section that controls my "portfolio" page */

/* controls the h2 tag on the portfolio page */
 .h2-portfolio {
  font-family: 'Libre Baskerville', serif;
  font-size: 45px;
  color: rgb(54, 2, 52); 
  padding-top:20px;
  padding-left:100px;
 }
 /* controls the margins on the portfolio page */
 .card {
  margin-top:100px
   }
  
  .card-img-top {
  width: 348px;
  height:auto;
  border: 15px solid rgb(54, 2, 52);
  }

 /* controling the color of the email, github, and portfolio words */
 .contactColor {
  font-family: 'Heebo', sans-serif;
  color:#501B1D;
  font-size:22px;
 }

 
 /*##########################################################################################
 starting into the section that controls my "binx" page */

 /* controls the look of h2 "about binx" on Binx the Cat page */
 .binx-name {
  font-family: 'Libre Baskerville', serif;
  font-size: 45px;
  color: rgb(54, 2, 52); 
  padding-top:20px;
 }

/* controls the size and bordering around my picture*/
.picture-binx {
  width: 270px;
  height: auto;
  border: 15px solid rgb(54, 2, 52);
}

.picture-binx2 {
  border: 15px solid rgb(54, 2, 52);
  width: 300px;
  height:auto;
}

.picture-binx1 {
  border: 15px solid rgb(54, 2, 52);
  width: 350px;
  height:auto;
}

.first-h3 {
  padding-top:30px;
  text-align: left;
  color: rgb(54, 2, 52)
  }

.second-h3 {
  padding-top: 100px;
  color: rgb(54, 2, 52)
}

#first-paragraph.binx {
  color:rgb(54, 2, 52);
  font-size: 25px;
  padding-top:20px;
  padding-right: 40px;
}

.img-fluid {
  max-width:100%;
  height:auto;
}